/* Define custom fonts */
@font-face {
    font-family: MM-Regular;
    src: url("./Fonts/MADEMirage-Medium/MADE Mirage Medium PERSONAL USE.otf") format("opentype");
}

@font-face {
    font-family: Source-Semi;
    src: url("./Fonts/source-sans-pro/SourceSansPro-Semibold.ttf") format("opentype");
}


/* General Website Style */
body {
    font-family: "Source-Semi";
    font-weight: normal;
    background-color: #344131;
    color: #344131; /* Font color */
    text-decoration: none;  /* No underlining */
    font-size: 18pt; /* Before: 14pt */
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "MM-Regular";
    font-weight: normal;
    vertical-align: top;
    position: relative;
}


.background {
    width: 60vw; /* Before: 600px, 750px */
    height: calc(90vh - 60px); /* Before: 450px,500px */
    /* min-width: 600px; */
    /* min-height: 450px; */
    position: fixed;
    top: calc(50% + 30px); 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin: auto;
    background-color:#fefae0;
    overflow: scroll;
}


.pageTitle h2 {  /* Main page title*/
    font-size: 36pt; /* Before: 32pt */
    width: 90%;
    margin-top: 20px;  /* Add separation from top of background box */
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    left: 20px;
}

.pageTitle p {  /* Text under title */
    width: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    position: relative;
    top: 4px;
    left: 30px;
    opacity: 90%;
}


h4 {  /* Used for subtitles across pages */
    font-size: 26pt; /* Before: 22pt */
    opacity: 1;
}


/* Navigation Bar */
nav {
    width: 93%;
    /* Center horizontally */
    position: fixed; 
    left: 50%; 
    transform: translateX(-50%);
    margin: 0 auto;
    overflow: hidden; /* No scroll */
    height: 60px;
    text-decoration: none;  /* No underlining */
    background-color: #344131;
}

nav a { /* Both external and internal links */
    color: #fff;
    display: block; /* Prevent from being overlapped */
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 85%;
    text-align: center;
    text-decoration: none;  /* No underlining */
    /* border: 3px solid #73AD21; */ /* For visualizing placing */
}

nav a:hover { /* When hovering over the page link */
    color: white;
    opacity: 1;
    fill-opacity: 1;
}

.extlink div {
    position: relative;
    left: 10px;
}

.intlink div {
    position: relative;
    right: 10px;
}

.intlink a {
    float: right;
}

.extlink a {
    float: left;
}

.extlink svg { /* Logos linking to external websites */
    height: 25px;
    width: 25px;
    fill: #fff;
}


/* Homepage */
.homepage {
    display: flex;
}

.homepage-flex {
    flex: 1; /* Makes both containers the same size */
    /* border: 3px solid #73AD21; */ /* For visualizing placing */
    margin: 30px;
}

.homepage-flex:last-child { /* Remove double-spacing caused by setting left/right margin on both flex elements */
    margin-left: 0px;
}

.homepage-flex h4 { /* Text: "Hi, my name is" */
    font-family: "Source-Semi";
    font-size: 18pt; /* Before: 14pt */
    opacity: 90%;
    padding: 0;
    margin: 0;
    top: 20px;
}

.homepage-flex h1 { /* Text: "Joelene Hales" */
    font-size: 70pt; /* Before: 50pt */
    padding: 0;
    margin: 0;
    top: 35px; /* Add a little bit of separation from the "Hi my name is */
    line-height: 65pt; /* Decrease line separation. Before: 45pt or 0.85em */
}

.homepage-flex p { /* Homepage blurb */
    opacity: 90%;
    padding: 0;
    margin: 0;
    position: relative;
    top: 70px; /* Add a little separation from name (Contact comes with it) */
}

.homepage-flex a {
    position: relative;
    top: 45px;
}

.homepage-flex img { /* Photograph on homepage */
    float: right;
    height: 100%; /* Make image fit in div and keep aspect ratio */
    width: auto;
    object-fit: contain; 
}

/* Misc page links */
.background a {
    opacity: 1;
    padding: 0;
    margin: 0;
    color: #554331;
    fill: #554331;
    text-decoration: none; /* No underlining */
    transition: 0.1s ease-in; /* For arrow to move */
}

.background a:hover {
    opacity: 88%;
}

/* Make arrow move right on hover */
.background .button span { /* Arrow icon */
    display: inline-block;
    vertical-align: center; 
}
  
.background .button:hover span {
    transform: translateX(15%);
}

.background .button svg { /* Link icon */
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: center;
}

/* Make links move up on hover
.background .button:hover svg {
    transform: translateY(-10%);
}
*/


/* Experience page */
.experienceItem {  /* Entire item */
    width: 85%;
    position: relative;
    left: 35px;
    vertical-align: top;
    padding-top: 20px;
}

.experienceItem p { /* Description */
    opacity: 85%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 8px;
    padding-top: 15px;
}

.experienceHeading h4 {  /* Job title */
    font-size: 29pt; /* Before: 25pt */
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    line-height: 26pt;
}

.experienceHeading p {  /* Date */
    font-size: 15pt; /* Before: 12pt */
    opacity: 45%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 4px;
}