/* Define custom fonts */
@font-face {
    font-family: MM-Regular;
    src: url("./Fonts/MADEMirage-Medium/MADE Mirage Medium PERSONAL USE.otf") format("opentype");
}

@font-face {
    font-family: Source-Semi;
    src: url("./Fonts/source-sans-pro/SourceSansPro-Semibold.ttf") format("opentype");
}


/* General Website Style */
body {
    font-family: "Source-Semi";
    font-weight: normal;
    background-color: #344131;
    color: #344131; /* Font color */
    text-decoration: none;  /* No underlining */
    font-size: 16pt; /* Before: 14pt */
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "MM-Regular";
    font-weight: normal;
    vertical-align: top;
    position: relative;
}


.background {
    width: 60vw;
    min-width: 400px;
    height: calc(90vh - 50px); 
    position: fixed;
    top: calc(50% + 30px); 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin: auto;
    background-color:#fefae0;
    overflow: scroll;
}


.pageTitle h2 {  /* Main page title*/
    font-size: 36pt; /* Before: 32pt */
    width: 90%;
    margin-top: 20px;  /* Add separation from top of background box */
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    left: 20px;
}

.pageTitle p {  /* Text under title */
    margin: 4px 30px; /* Top/bottom left/right*/
    padding: 0;
    opacity: 90%;
}


h4 {  /* Used for subtitles across pages */
    font-size: 26pt; /* Before: 22pt */
    opacity: 1;
}


/* Navigation Bar */
nav {
    width: 93%;
    /* Center horizontally */
    position: fixed; 
    left: 50%; 
    transform: translateX(-50%);
    margin: 0 auto;
    overflow: hidden; /* No scroll */
    height: 50px;
    text-decoration: none;  /* No underlining */
}

nav a { /* Both external and internal links */
    color: #fff;
    display: block; /* Prevent from being overlapped */
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 85%;
    text-align: center;
    text-decoration: none;  /* No underlining */
    /* border: 3px solid #73AD21; */ /* For visualizing placing */
}

nav a:hover { /* When hovering over the page link */
    color: white;
    opacity: 1;
    fill-opacity: 1;
}

.extlink div {
    position: relative;
    left: 10px;
}

.intlink div {
    position: relative;
    right: 10px;
}

.intlink a {
    float: right;
}

.extlink a {
    float: left;
}

.extlink svg { /* Logos linking to external websites */
    height: 25px;
    width: 25px;
    fill: #fff;
}


/* Homepage */
.homepage {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Make image go above for narrow layouts (eg. mobile) */
    margin: 35px;
}

.homepage-flex {
    flex: 1;
}

.homepage-flex:first-child {
    min-width: 50%;
    padding-bottom: 60px; /* Prevent text from running into image on wrap. Amount was just eye-balled */
    padding-right: 12px; /* Ensures some space between text and image without noticably affecting the wrapped look */
}

.homepage-flex:last-child {
    margin: 0;
}


.homepage-flex h4 { /* Text: "Hi, my name is" */
    font-family: "Source-Semi";
    font-size: 16pt; /* Before: 14pt */
    opacity: 90%;
    padding: 0;
    margin: 0;
    top: 20px;
}

.homepage-flex h1 { /* Text: "Joelene Hales" */
    font-size: 70pt; /* Before: 50pt */
    padding: 0;
    margin: 0;
    top: 35px; /* Add a little bit of separation from the "Hi my name is */
    line-height: 65pt; /* Decrease line separation. Before: 45pt or 0.85em */
}

.homepage-flex p { /* Homepage blurb */
    opacity: 90%;
    padding: 0;
    margin: 0;
    position: relative;
    top: 70px; /* Add a little separation from name (Contact comes with it) */
}

.homepage-flex a {
    position: relative;
    top: 45px;
}

.homepage-flex img { /* Photograph on homepage */
    justify-content: center;
    max-height: calc(89vh - 120px); /* Make image fit in div and keep aspect
    ratio */
    max-width: 57vw; /* Necessary so image width doesn't exceed background on mobile */
    object-fit: contain; 
    position: relative; /* Center image within its div */
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

/* Misc page links */
.background a {
    opacity: 1;
    padding: 0;
    margin: 0;
    color: #554331;
    fill: #554331;
    text-decoration: none; /* No underlining */
    transition: 0.1s ease-in; /* For arrow to move */
}

.background a:hover {
    opacity: 80%;
}

/* Make arrow move right on hover */
.background .button span { /* Arrow icon */
    display: inline-block;
    vertical-align: center; 
}
  
.background .button:hover span {
    transform: translateX(15%);
}

.background .button svg { /* Link icon */
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: center;
}

/* Make links move up on hover
.background .button:hover svg {
    transform: translateY(-10%);
}
*/


/* Experience page */
.experienceItem {  /* Entire item */
    margin: 0 40px; /* Top/bottom left/right */
    vertical-align: top;
    transition: 28ms ease-in; /* For hover animation */
}

/* I don't like the way this looks yet
.experienceItem:hover h4 {
    transform: scale(1.01);
}
*/

.experienceItem p { /* Description */
    opacity: 85%;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 8px;
    padding-top: 15px;
}

.experienceHeading h4 {  /* Job title */
    font-size: 27pt; /* Before: 25pt */
    line-height: 24pt;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    align-self: center;
}

.experienceHeading p {  /* Date */
    font-size: 14pt; /* Before: 12pt */
    opacity: 45%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}


/* Contact form */
.contact-form { 
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    width: calc(100% - 80px); /* Center with margin */
    overflow-y: scroll;
    overflow-x: hidden;
}

.contact-form form {
    width: 98%;
    padding-bottom: 20px; /* Add padding the size of the "Powered by Un-static Forms" text to prevent it from overrunning it */
}

.contact-form input, textarea {
    font-family: "Source-Semi";
    font-weight: normal;
    color: #344131; /* Font color */
    font-size: 14pt;
    margin: 3px 0; /* Top/bottom left/right*/
    resize: none; /* Disable resizing */
    object-fit: contain;
    width: 98%; /* Make fill the entire form width without cuttinh off border */
    opacity: 90%;
    background-color: rgba(255, 255, 255, 0.80);
    border: 1.5px solid #344131;
}

.contact-form textarea {
    height: 125px;
}

.contact-form #submit {
    width: auto;
    color: #344131;
    background-color: white;
    /* Button stuff: */
    align-self: center;
    background-position: 0 90%;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    box-shadow: rgba(52, 65, 49, 0.35) 2px 2px 1px;
    /* Before: 15px 28px 25px -18px */
    box-sizing: border-box;
    cursor: pointer;
    transition: all 235ms ease-in-out;
    touch-action: manipulation;
}


.contact-form #submit:hover {
  box-shadow: rgba(52, 65, 49, .4) 1px 1px; 
  /* Before: 2px 8px 8px -5px; */
  transform: translate3d(0, 2px, 0);
}

.contact-form #submit:focus {
  box-shadow: rgba(33, 41, 31, 0.3) 1px 1px 1px; 
  /* Before: 2px 8px 4px -6px; */
}

#powered-by-unstatic {
    font-size: 11pt;
    position: relative; /* Position to its parent (the background div )*/
    bottom: 8px;
    height: 20px;
    width: 100%; /* Required to center text */
    margin: 0;
    text-align: center;
}
