/* Define custom fonts */
@font-face {
    font-family: MM-Regular;
    src: url("./Fonts/MADEMirage-Medium/MADE Mirage Medium PERSONAL USE.otf") format("opentype");
}

@font-face {
    font-family: Source-Semi;
    src: url("./Fonts/source-sans-pro/SourceSansPro-Semibold.ttf") format("opentype");
}


/****************************
 *  General Website Styles  *
 ****************************/
body {
    font-family: "Source-Semi";
    font-weight: normal;
    background-color: #344131;
    color: #344131; /* Font color */
    text-decoration: none;  /* No underlining */
    font-size: 16pt; /* Before: 14pt */
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "MM-Regular";
    font-weight: normal;
    vertical-align: top;
    position: relative;
}


.background {
    width: 60vw;
    min-width: 400px;
    height: calc(90vh - 50px); 
    position: fixed;
    top: calc(50% + 30px); 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin: auto;
    background-color:#fefae0;
    overflow: scroll;
}

.page-title { /* Container for page title and description text  */
    position: relative;
    margin: 25px 35px 0;  /* Add separation from top of background box */
}

.page-title h2 {  /* Main page titles */
    font-size: 36pt; /* Before: 32pt */
    width: 90%;
    margin: 0;  
    padding: 0;
}

.page-title p {  /* Text under title */
    margin: 0 10px; /* Top/bottom left/right*/
    padding: 0;
    opacity: 90%;
}


/* General Links */
.background a {
    opacity: 1;
    padding: 10px 0;
    margin: 0;
    color: #344131;
    fill: #344131;
    text-decoration: none; /* No underlining */
    transition: 0.1s ease-in; /* For arrow to move */
}

.background a:hover {
    opacity: 80%;
}

/* Make arrow move right on hover */
.background .button span { /* Arrow icon */
    display: inline-block;
    vertical-align: center; 
}
  
.background .button:hover span {
    transform: translateX(15%);
}

.background .button svg { /* Link icon */
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: center;
}

/* Make links move up on hover
.background .button:hover svg {
    transform: translateY(-10%);
}


/********************
 *  Navigation Bar  *
 ********************/
nav {
    width: 95%;
    /* Center horizontally */
    position: fixed; 
    left: 50%; 
    transform: translateX(-50%);
    margin: 0 auto;
    overflow-y: hidden; /* No scroll */
    height: 50px;
    text-decoration: none;  /* No underlining */
}

nav a { /* Both external and internal links */
    color: #fff;
    display: block; /* Prevent from being overlapped */
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 85%;
    text-align: center;
    text-decoration: none;  /* No underlining */
}

nav a:hover { /* When hovering over the page link */
    color: white;
    opacity: 1;
    fill-opacity: 1;
}

.extlink div {
    position: relative;
    left: 10px;
}

.intlink div {
    position: relative;
    right: 10px;
}

.intlink a {
    float: right;
}

.extlink a {
    float: left;
}

.extlink svg { /* Logos linking to external websites */
    height: 24px;
    width: 24px;
    fill: #fff;
}



/******************
 *    Homepage    *
 ******************/
.homepage {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Make image go above for narrow layouts (eg. mobile) */
    margin: 35px;
}

.homepage div {
    flex: 1;  /* Ensures the text and image columns are the same width */
}


.homepage .text div {
    float: center;
    position: relative; /* Center all text vertically within its div */
    top: 50%; 
    transform: translateY(-50%);
    margin-right: 10px; /* Ensures some space between text and image without noticably affecting the wrapped look */
    margin-bottom: 50px;  /* Prevent image from running into text on wrap */
}


.homepage .text h4 { /* Text: "Hi, my name is" */
    font-family: "Source-Semi";
    font-size: 16pt; /* Before: 14pt */
    opacity: 90%;
    margin: 0 8px 12px; /* Add a little indent + separation from "Joelene Hales" */
}

.homepage .text h1 { /* Text: "Joelene Hales" */
    font-size: 70pt; /* Before: 50pt */
    line-height: 65pt; /* Decrease line separation. Before: 45pt or 0.85em */
    margin: 0;
    margin-bottom: 22px; /* Add some separation between name and the homepage text */
}

.homepage .text p { /* Homepage blurb */
    opacity: 90%;
    margin: 0 8px 5px;
}

.homepage .text a {
    margin: 0 8px;
}

.homepage .image img { /* Photograph on homepage */
    justify-content: center;
    max-height: calc(90vh - 140px); /* Make image fit in div and keep aspect
    ratio */
    max-width: 52vw; /* Necessary so image width doesn't exceed background on mobile */
    object-fit: contain; 
    position: relative; /* Center image within its div */
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin: 0;
}


/*********************
 *  Experience Page  *
 *********************/
#experience-page {  /* Entire experience page*/
    overflow-x: hidden;  /* To make the galaxy look nice*/
}

.experience {  /* Each experience item */
    margin: 25px 40px; /* Top/bottom left/right */
    padding: 25px;
    /*background-color: rgba(255, 255, 255, 0.45);*/ 
    border: none;
    border-radius: 10px;
    vertical-align: top;
    transition: 28ms ease-in; /* For hover animation */
    display: flex;
}

.experience .text {
    width: 75%;
}

.experience .text p { /* Description */
    opacity: 85%;
    margin: 0;
    padding: 8px 0 13px;
}

.experience .title h4 {  /* Job title */
    font-size: 27pt; /* Before: 25pt */
    line-height: 24pt;
    margin: 0;
    padding: 0;
    align-self: center;
}

.experience .title span {  /* Date */
    font-size: 14pt; /* Before: 12pt */
    opacity: 45%;
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
}

.experience a { /* Links */
    margin: 20px 2px 0; /* Add spacing between items */
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    background: rgba(85, 67, 49, 0.15);
    opacity: 85%;
}

.experience a:hover {
    opacity: 70%;
}

#astrochemistry .graphic {
    margin-left: 0;
    margin-right: 20px;
    margin-top: 30px;
    width: 25%; /* Of its container div */
    display: flex;
    flex-direction: column;
    /* Applies to the path, line, and polygon of all PAH SVGs */
    stroke: #344131a3;
    fill: none;
    stroke-opacity: 1;
}

#PAH-1 {
    margin: 0;
    padding-bottom: 5px; /* Keep distance from other PAHs */
    width: 90%;
    stroke-width: 10;
    transform: rotateX(180deg) rotate(345deg);
}

#PAH-2 {
    margin: 0;
    padding: 10px 0; /* Keep distance from other PAHs */
    stroke-width: 14;
    width: 35%;
    position: relative;
    left: 5px;
    bottom: 8px;
    transform: rotate(35deg);
}

#PAH-3 {
    margin: 0;
    padding: 10px 0; /* Keep distance from other PAHs */
    stroke-width: 2.5;
    stroke-linejoin: miter;
    stroke-miterlimit: 10;
    width: 60%;
    position: relative;
    bottom: 12px;
    left: 17px;
    transform: rotate(160deg);
}


#galactic-astronomy .graphic {
    fill: #34413155;
    margin: 0;
    /* width: 2250px; /* Allows graphic to scale */
    stroke-width: 5;
    width: 25%;
    display: flex; /* Align with bottom */
    flex-direction: column;
    justify-content: flex-end;
}

#galactic-astronomy .graphic svg {
    margin: 0;
    width: 500px;
    transform: rotate(345deg);  /* Rotate galaxy within its div, not the entire div itself */
    position: absolute;
    right: -70px;
}

#exoplanet-astronomy .graphic {
    fill: #34413155;
    margin: 0;
    stroke-width: 5;
    width: 25%;
}

#exoplanet-astronomy .graphic svg {
    width: 250px;
    position: absolute;
    transform: rotate(-15deg);
    left: 30px;
}


/******************
 *  Contact Page  *
 ******************/
.contact-form { 
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    width: calc(100% - 80px); /* Center with margin */
    overflow-y: scroll;
    overflow-x: hidden;
}

.contact-form form {
    width: 98%;
    padding-bottom: 20px; /* Add padding the size of the "Powered by Un-static Forms" text to prevent it from overrunning it */
}

.contact-form input, textarea {
    font-family: "Source-Semi";
    font-weight: normal;
    color: #344131; /* Font color */
    font-size: 14pt;
    margin: 3px 0; /* Top/bottom left/right*/
    resize: none; /* Disable resizing */
    object-fit: contain;
    width: 98%; /* Make fill the entire form width without cuttinh off border */
    opacity: 90%;
    background-color: rgba(255, 255, 255, 0.55);
    border: 1.35px solid #344131d6;
}

.contact-form textarea {
    height: 125px;
}

.contact-form #submit {
    width: auto;
    color: #344131;
    background-color: rgba(255, 255, 255, 0.80);
    /* Button stuff: */
    align-self: center;
    background-position: 0 90%;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    box-shadow: rgba(52, 65, 49, 0.35) 2px 2px 1px;
    /* Before: 15px 28px 25px -18px */
    box-sizing: border-box;
    cursor: pointer;
    transition: all 235ms ease-in-out;
    touch-action: manipulation;
}


.contact-form #submit:hover {
  box-shadow: rgba(52, 65, 49, .4) 1px 1px; 
  /* Before: 2px 8px 8px -5px; */
  transform: translate3d(0, 2px, 0);
}

.contact-form #submit:focus {
  box-shadow: rgba(33, 41, 31, 0.3) 1px 1px 1px; 
  /* Before: 2px 8px 4px -6px; */
}

#powered-by-unstatic {
    font-size: 11pt;
    position: fixed; /* Position to its parent (the background div )*/
    bottom: 8px;
    height: 20px;
    width: 100%; /* Required to center text */
    margin: 0;
    text-align: center;
}


/*******************
 *  Projects Page  *
 *******************/
.project {  /* Container for each project */
    display: flex;
    /* Alternative: * Does not work with the Current Work-In-Progress being at
the top
    display: grid;
    grid-template-columns: 1fr 2fr; /* Column ratios (Text column 2x larger than
    image)
    */
    margin: 10px 35px; /* Top/bottom left/right */
    padding: 10px;
    /*background-color: rgba(255, 255, 255, 0.45);*/
    border: none;
}


.project .in-progress {  /* Current work-in-progress project (at the top, no image) */
    display: block;
    /*margin: 0px 25px;  /* Indent slightly from the rest of the content */
}

.project .text {
    margin-left: 11px;
}

.project .image {
    margin-right: 11px;
}

.project h6 { /* "Featured Project" / "Current Project" */
    margin: 0;
    font-size: 14pt;
    font-family: "Source-Semi";
}

.project h4 { /* Project name */
    margin: 0;
    font-size: 26pt;
}

.project p {  /* Project description */
    margin: 0;
    opacity: 88%
}

.project .title {  /* Container for project name and links */
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-content: bottom;
}

.project .title svg {  /* GitHub/PyPI/Web App links */
    width: 25px;
    height: 100%;
    padding: 0 3px;
    margin: 0;
}

.project ul { /* The list of languages/skills used in each project */
    margin: 8px 15px 0; /* Keep it contained slightly within the edge of the other text, displaced slightly from description text */
    list-style-type: none; /* Remove the bullet points */
    padding-left: 0; /* Remove the indentation for each item by default */
    /*justify-content: center;  /* Center items */
    display: flex;
    flex-wrap: wrap;
}

.project li {  /* Each language/tool */
    font-size: 14pt;
    margin: 2px; /* Add spacing between items */
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    background: rgba(52, 65, 49, 0.15);
    opacity: 82%;
}

.project .image img {
    margin: 0;
    position: relative; /* Center horizontally within its div */
    left: 50%;
    transform: translateX(-50%);
    top: 7px; /* Add a bit of separation from the top, make align with top of title */
    max-width: 15vw;
    filter: grayscale(100%);
    transition: 0.05s ease-in; /* For transition to colour on hover */
    opacity: 1;
}

.project .image img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

#featured .image img {  /* Image for featured project */
    position: relative;
    top: calc(12px + 14pt);  /* Add extra spacing to align with top of title instead of "Featured Project" text */
}